<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<body>


		<div class="sidenav"  th:fragment="layout-sidebar">
			<h1><img class="virtuShop-logo" th:src="@{/images/petshop.png}"></h1>
		  <a href="#"><span class="fa fa-pie-chart">Painel</span></a>
		  <a href="#"><span class="fa fa-user">Clientes</span></a>
		  <a href="#"><span class="fa fa-paw">Animais</span></a>
		  <a href="#"><span class="fa fa-shopping-cart">Vendas</span></a>
		  <a href="#"><span class="fa fa-truck">Estoque</span></a>
		  <a href="#"><span class="fa fa-file-pdf-o">Relatórios</span></a>
		   <a href="index.html"><span class="fa fa-power-off">Sair</span></a> 
		</div>
</body>

</html>