<!DOCTYPE HTML>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pesquisa de Animais</title>
	
  	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/animal.css}">
</head>

<body>

	 <!--
    LG: >= 1200px
    MD: >= 992px < 1200px
    SM: >= 768px < 992px        |   |   |   |   |   |   |   |   |   |   |   |   |
    XS: < 768px


  -->


	<!-- Side navigation -->
<section layout:fragment="conteudo">
		
	
			<!-- Page content -->
			<div class="main">
			  
				<div class="">
					<h3><span class="fa fa-paw">Animais</span></h3>
	
					<div class="container-fluid dados-animais">
						
						<form method="GET" class="form-inline" th:object="${animalFilter}">
							<div class="form-group" >
								<label class="control-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
							</div>
							<button type="submit" class="btn  btn-primary">Pesquisar</button>
							<a class="btn btn-success pull-right" th:href="@{/animais/novo}">
									<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo animal</span>
								</a>
						</form>
						
					</div>
	
					<h3><span class="fa fa-paw">Cadastrados - Foi(ram) encontrado(s) 4 registro(os)</span></h3>
	
					<div class="dados-animais">
					
	
						     <table class="table table-striped table-bordered table-hover">
						     	<thead>
						     		<tr>
						     			<th>Nome</th>
						     			<th>Espécie</th>
						     			<th>Raça</th>
						     			<th>Sexo</th>
						     			<th>Pelagem</th>
						     			<th>Porte</th>
						     			
						     			<th></th>
						     		</tr>
						     	</thead>
						     	<tbody>
						     		<tr th:each="animal: ${pagina.content}">
						     			<td class="text-center" th:text="${animal.nome}">Nome</td>
						     			<td th:text="${animal.especie.nome}">Canino</td>
						     			<td th:text="${animal.raca.nome}">Raça</td>
						     			<td th:text="${animal.sexo}">sexo</td>
						     			<td th:text="${animal.pelagem}">Canino</td>
						     			<td th:text="${animal.porte}">Porte</td>
						     			<td class="text-center">
						     				<a href=""><span class="glyphicon glyphicon-pencil text-warning"></span></a>
						     				<a href=""><span class="glyphicon glyphicon-trash text-danger"></span></a>
						     			</td>
						     		</tr>
						 
						     	</tbody>
						     </table>
				   	</div>  
				</div>
			</div>
		
</section>				

</body> 

</html> 