
/** Menu lateral **/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
 /* margin-left: 160px;  Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.virtuShop-logo{
	height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px;
  margin: 0px 30px ;

}


/** barra de nevegacao superior **/

.navegacao-sup{
	
	background-color: #fff;
	 box-shadow: 3px 3px 2px grey;
	 
}




.navegacao-sup h2{
	
	padding: 0;
	margin:  0;
	width: 20px;
	color: grey;

}

.nav-sup-h2 {
	margin:  0%;
	
}


.perfil{
	padding: 10px;
}

.perfil li:first-child{
	font-size: : 1.3em;
	font-weight: bold;
	margin-bottom: 5px;
	width: 300px;
}


/***********************/


/***Cnteudo da página****/

.wrapper{
	padding-left: 160px;
}



.dados-animais{
	background-color: #fff;
	margin-top: 1%;
	margin-bottom: 1%;
	 box-shadow: 5px 5px 3px grey;
	 padding: 2%;

}

.dados-animais button{
	
	
vertical-align: middle
	}	