<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de Vendas</title>
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de vendas</h1>
					</div>
					<div class="col-sm-2" sec:authorize-url="/vendas">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/vendas/nova}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova venda</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid">
	
			<form method="GET" th:object="${vendaFilter}">
				<div class="row">
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="nome">Código</label>
						<input type="text" class="form-control" id="codigo" th:field="*{codigo}"/>
					</div>
					
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="e"status"stilo">Status</label>
						<select id="status" class="form-control" th:field="*{status}">
		                    <option value="">Todos os status</option>
		                    <option th:each="stts : ${status}" th:text="${stts.status}" th:value="${stts}"></option>
		                </select>
					</div>
				</div>
				
				<div class="row">								
					<div class="form-group col-sm-6" >
						<label class="control-label">Data de criação</label> 
						<div class="form-inline">
							<input type="text" class="form-control js-date js-mask-date" id="dt_criacao_de" th:field="*{dtCriacaoDe}"/>
							até
							<input type="text" class="form-control js-date js-mask-date" id="dt_criacao_ate" th:field="*{dtCriacaoAte}"/>
						</div>
					</div>
				
					
					<div class="form-group col-sm-6" >
						<label class="control-label">Valor</label> 
						<div class="form-inline">
							<input type="text" class="form-control js-decimal" id="vl_total_de" th:field="*{vlCriacaoDe}"/>
							até
							<input type="text" class="form-control js-decimal" id="vl_total_ate" th:field="*{vlCriacaoAte}"/>
						</div>
					</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6" >
						<label class="control-label" for="nome">Nome cliente</label>
						<input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}"/>
					</div>
					
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="nome">CPF/CNPJ</label>
						<input type="text" class="form-control" id="cpfCnpj" th:field="*{cpfCnpj}"/>
					</div>
			</div>
			
												
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
			
			
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
								<th>									
									<brewer:order page="${pagina}" field="codigo" text="Codigo"></brewer:order>
								</th>
								<th>
									<brewer:order page="${pagina}" field="nomeCliente" text="Cliente"></brewer:order>
								</th>
								<th>CPF/CNPJ</th>
								<th>Criação</th>
								<th>Entrega</th>
								<th>Status</th>
								<th>Valor Frete</th>
								<th>Valor Desconto</th>
								<th>Valor Total</th>
								
								<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="venda : ${pagina.conteudo}">
							
							<td th:text="${venda.codigo}">XX9999</td>
							<td th:text="${venda.cliente.nome}">Venda X</td>
							<td th:text="${venda.cliente.cpfOuCnpj}">CPF/CNPJ</td>
							<td th:text="${venda.dataCriacao}">Criação</td> 

							<td th:text="${venda.dataHoraEntrega}">Entrega</td>
							<td th:text="${venda.status}">Status X</td>
							<td th:text="|R$ ${venda.valorFrete}|">R$ 9,99</td>
							<td th:text="|R$ ${venda.valorDesconto}|">R$ 9,99</td>
							<td th:text="|R$ ${venda.valorTotal}|">R$ 9,99</td>
							
							
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody>
					
					
				</table>
			</div>
			
	
			
			<brewer:paginacao page="${pagina}"></brewer:paginacao>
			
		</div>	
	</section>
	
	<th:block layout:fragment="javascript-extra">
		
	</th:block>
</body>
</html>