<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de Usuário</title>
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de usuários</h1>
					</div>
					<div class="col-sm-2" sec:authorize-url="/usuarios">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/usuarios/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="container-fluid">
	
			<form method="GET" th:object="${usuarioFilter}">
				<div class="row">
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
					
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="email">E-mail</label>
						<input type="text" class="form-control" id="email" th:field="*{email}"/>
					</div>
				</div>
				
				<div class="row">
				<div class="form-group  col-sm-6" brewer:classforerror="nome">
					<label class="control-label">Grupos</label> 
					<div>
						
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" name="grupo"/>
		    					<label>Vendedor</label>
	    					</div>
	    					
	    					<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" name="grupo"/>
		    					<label>Administrador</label>
	    					</div>
    				
					</div>
				</div>
			</div>
												
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
								<th>
									<brewer:order page="${pagina}" field="nome" text="NOME"></brewer:order>
								</th>
								<th>
									<brewer:order page="${pagina}" field="email" text="EMAIL"></brewer:order>
								</th>
								<th>STATUS</th>
								<th class="table-cervejas-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_USUARIO')"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="usuario : ${pagina.conteudo}">
							
							
							<td  th:text="${usuario.nome}">Usuario X</td>
							<td  th:text="${usuario.email}">Email X</td>
							<td  th:text="${usuario.ativo}">Status X</td>
							
							<td class="table-cervejas-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_USUARIO')">
								<a class="btn btn-link btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="7">Nenhum usuário encontrado</td>
						</tr>
					</tbody>
					
					
				</table>
			</div>
			
			<brewer:paginacao page="${pagina}"></brewer:paginacao>
			
		</div>	
	</section>
</body>
</html>